.Nav {
    display: flex;
    gap: 8px 16px;
    align-items: center;
    position: relative;
    z-index: 350;
    width: 63%;
    min-width: 1200px;
    margin: 0 auto 32px;
    padding-right: 70px;
    font-family: "PTRootUI",sans-serif;
    top: 22px;
    height: 40px;
}