.Widget{
    position: relative;
    z-index: 100;
    width: 100%;
    overflow: hidden;
    color: #fff;
    background-color: #18222e;
    transition: all .3s ease;
    cursor: pointer;
}

.WidgetImage {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 8px);
    object-fit: cover;
}

.WidgetText {
    position: absolute;
    z-index: 300;
    bottom: 5px;
    left: 0;
    width: 100%;
    padding: 0 5px;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.Widget::after {
    content: "";
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #030c15 8px, rgba(3, 12, 21, 0) 40%);
}

.Widget::before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 300;
    left: 0;
    top: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border: 1px rgba(166,221,255,.1) solid;
    transition: border-color .3s ease;
}