.BuyForm {
    box-sizing: border-box;
}

.BuyFormTitle {
    padding: 20px 15px;
    background: transparent;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Fira Sans",Arial,sans-serif;
}

.BuyFormTitleText {
    padding: 0;
    font-size: 32px;
    color: #fff;
    font-family: "Fira Sans",sans-serif;
    font-weight: 500;
    margin-bottom: 24px;
}

.BuyFormPrice {
    position: relative;
    padding: 0;
    font-size: 26px;
    color: #fff;
    font-family: "Fira Sans",sans-serif;
    font-weight: 500;
    margin-bottom: 0px;
}

.BuyFormTable {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    box-sizing: border-box;
}

.BuyFormTable::after {
    clear: both;
}

.BuyFormTable::before {
    content: " ";
    display: table;
}

.BuyFormColumn {
    width: 100%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.BuyFormInputForm {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
}

.BuyFormRow {
    display: flex;
    margin-bottom: 24px;
    align-items: center;
    column-gap: 16px;
}

.BuyFormCenter {
    font-family: "Fira Sans",sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 24px;
    color: #7d838c;
    padding-left: 50px;
    padding-top: 5px;
    box-sizing: border-box;
}

.BuyFormCreateButton {
    width: 100%;
    opacity: .6;
    border: 2px solid #fff;
    border-radius: 3px;
    background: 0 0;
    color: #fff;
    font-size: 21px;
    transition: all .3s ease;
    -webkit-appearance: button;
    cursor: pointer;
    margin: 20px 0;
    text-align: center;
    text-decoration: none;
    padding: 13px 20px 14px;
    display: block;
    font-family: inherit;
    line-height: inherit;
}

.BuyFormCheckBoxContainer {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 8px 8px 8px 0;
    margin: -8px 0;
    box-sizing: border-box;
    cursor: pointer;
    align-items: center;
    column-gap: 16px;
}

.BuyFormCheckBox {
    position: relative;
    appearance: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;

    background-color: rgba(3,12,21,.4);
    background-position: 12px center;
    background-repeat: no-repeat;
    font: 400 16px/1.5 "Fira Sans",sans-serif,sans-serif;
    color: #fff;
    border: 2px solid rgba(0,0,0,0);
    border-radius: 4px;
    outline: 1px solid rgba(0,0,0,0);

    margin: 0;
}

.BuyFormCheckBox:checked::after {
    opacity: 1;
}

.BuyFormCheckBox::after {
    display: block;
    content: "";
    width: 18px;
    height: 17px;
    background-image: url("https://embed.gaijin.net/assets/build/c2cb7621a89303c506b9.svg");
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    fill: #90a4ae;
    cursor: pointer;
    transition: opacity .3s ease;
}

.BuyFormCheckBoxLabel {
    display: flex;
    flex: 1;
    align-items: center;
    color: rgba(255,255,255,.8);
    font-family: "Fira Sans",sans-serif,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.BuyForm_Access {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.BuyForm_Access::after {
    clear: both;
}

.BuyForm_Access::after, .LoginForm_Access::before {
    content: " ";
    display: table;
}

.BuyForm_Access_Text {
    margin: 10px 0;
    font-family: "Fira Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #FF9270;
}