.ProductForm {
    justify-content: space-between;
    align-items: flex-start;
    display: grid;
    grid-template-columns: 804px 390px;
    grid-template-rows: auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas:
        "title   title"
        "content aside";
    position: relative;

    width: 1218px;
    margin: 0 auto 48px;
}

.ProductForm_Title {
    grid-area: title;
    width: 100%;
    font-family: "PTRootUI",sans-serif;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.17;
    color: #fff;
}

.ProductForm_ContentWrapper {
    grid-area: content;
    flex-shrink: 0;
    width: 100%;
}

.ProductForm_Gallery {
    position: relative;
    margin: 0 auto 48px;
}

.ProductForm_SpLide{
    visibility: visible;
    position: relative;
    z-index: 100;
}

.ProductForm_SpLide_Slider {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.ProductForm_SpLide_Slider_Track {
    height: auto !important;
    aspect-ratio: 1.7777778;
    width: 100%;
}

.ProductForm_SpLide_Slide_List {
    transform: none !important;
    flex-wrap: wrap;
    height: 100%;
}

.ProductForm_SpLide_Slide {
    z-index: auto;
    width: 100%;
    position: absolute;
    left: 0;
    height: 100%;
    outline: none;
}

.ProductForm_image {
    position: absolute;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity .3s linear;
    border-style: none;
}

.ProductForm_Article_Wrapper {
    display: block;
    width: 100%;
    margin-bottom: 48px;

    border-collapse: collapse;
    border-spacing: 0;
}

.ProductForm_Article {
    font-family: "PTRootUI",sans-serif;
    font-weight: normal;
    color: #c0c4c8;
}

.ProductForm_Article::after {
    content: "";
    display: table;
    width: 100%;
    height: 0;
    overflow: hidden;
}

.ProductForm_ASide {
    grid-area: aside;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.ProductForm_ASide_Sticky {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 390px;
}

.ProductForm_ShopBuy {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: rgba(3,12,21,.4);
    margin-bottom: 8px;
}

.ProductForm_ShopBuy_Wrapper {
    width: 100%;
    padding: 24px 40px 10px;
}

.ProductForm_ShopBuy_Price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-family: "PTRootUI",sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;

    margin-bottom: 16px;
    color: #fff;
}

.ProductForm_ShopBuy_Price__ {
    display: inline-block;
    margin: 0 6px;
    color: #ffe8aa;
}

.ProductForm_ShopBuy_ButtonWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
    margin-bottom: 16px;
}

.ProductForm_ShopBuy_BuyButton_2::after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ee2727;
    background-image: url(https://store.gaijin.net/templates/shop/src/736aeb558f991d295135.png),linear-gradient(180deg, #fd8415 0%, #ff5c00 7.73%, transparent 56.35%);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    transition: all .3s ease;
}

.ProductForm_ShopBuy_BuyButton_1 {
    min-width: 282px;
    min-height: 56px;
    padding: 8px 20px;
    border-radius: 3px;
    font-size: 28px;
}

.ProductForm_ShopBuy_BuyButton_2 {
    position: relative;
    z-index: 100;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    overflow: hidden;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    border: none;

    box-shadow: 0 5px 13px rgba(89,16,0,.65);
    transition: all .3s ease;
}

.ProductForm_ShopBuy_BuyButton_3 {
    width: 100%;
    text-align: center;
}

